:root {
  --color-background: #4CA68B;
}

body {
  background: var(--color-background);
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.square {
  height: 98px;
  border: blue solid 1px;
  flex: 0 0 32%;
  font-size: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}